
.container {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
}

.attivita-title-container {
    padding-left: 20%;
    padding-right: 20%;
    grid-column-start: 1;
    grid-column-end: 5;
}

.single-activity {
    grid-column-start: 2;
    grid-column-end: 4;
}

.first-activity {
    grid-row: 2;
}

.foto_activity{
    max-width: 100%;
    max-height:100%;
    object-fit: cover;
}

.second-activity {
    grid-row: 4;
}

.third-activity {
    grid-row: 6;
}


.attivita-title {
    color: var(--primary-color);
    text-align: center;
}

.elenco-circle{
    list-style-type:circle;
}

.centered{
    text-align: center;
}