.container {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
}

.chiSiamo-title-container {
    padding-left: 20%;
    padding-right: 20%;
    grid-column-start: 1;
    grid-column-end: 5;
}

.chiSiamo-title {
    color: var(--primary-color);
    text-align: center;
}

.single-paragraph {
    grid-column-start: 2;
    grid-column-end: 4;
}

.fondatori {
    grid-row: 2;
}

.genesi {
    grid-row: 3;
}

.sede{
    grid-row: 4;
}

.FAQ{
    grid-row:5;
}

.FAQ-question{
    font-weight: bold;
}

.FAQ-answer{
    display:none;
}

.container-fondatori{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    gap:10px 30px;
    padding-left:20px;
    padding-right:20px;
}

.img-fondatore{
    width:100px;
    height:100px;
    margin:10px;
}

.container-sede{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
    gap:10px 30px;
}

.img-sede{
    object-fit: contain;
    margin:30px
}
