.contatti-info{
    text-align:center;
    margin: 15px;
    border: 1px solid var(--primary-color);
    border-radius: .7em;
}

.contatti-form-box{
    text-align:center;
    margin: 15px;
    border: 1px solid var(--primary-color);
    border-radius: .7em;
    padding: 15px;
}

/*
 Ma veramente utilizzato? Perche' non credo in questo modo possa funzionare.
 inserito nei todo.
*/
contatti-form-popup{
    text-align:center;
    margin: 15px;
    border: 1px solid var(--primary-color);
    border-radius: .7em;
}

.contatti-grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.contatti-grid-center {
    grid-column-start: 2;
    grid-column-end: 3;
}
.contatti-form-flex {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contatti-form-input{
    margin-bottom:5px;
    border: solid black;
    border-radius:4px;
    background-color:white;
    border-width:1px;
    min-width:250px;
    block-size: fit-content;
    padding: 5px;
}

.margin-bottom-5{
    margin-bottom: 5px;
}

.menu{
    text-align:left;
}

.final-button {
    padding-top: 15px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    display: none;
}

.alert.success {
    background-color: #04AA6D;
    display: none;
}
.alert.info {
    background-color: #2196F3;
    display: none;
}
.alert.warning {background-color: #ff9800;}  /* potrebbe essere utile*/

.close {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover {
    color: black;
}
