/* GENERAL */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}

.header {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* FINE GENERAL */

.titolo {
    grid-column-start: 1;
    grid-column-end: 6;
    justify-items: center;
    justify-self: center;
}

.navbar-image {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-items: center;
    justify-self: center;
}

.inline-links {
    grid-column-start: 2;
    grid-column-end: 5;
    display: flex;
    align-items: center;
}

.navbar-flex-item {
    flex-grow: 1;
    text-align: center;
}

.navbar-flex-item>a {
    text-decoration: none;
    color: black;
}

/* FINE HEADER */

/* INIZIO BODY */

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #1A237E;
    background-color: transparent;
    text-decoration: underline;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: #0F4FD6;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: .7em;

}

.container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 25px;

    min-width: 60vh;

    display: flex;
    flex-flow: row nowrap;
}

.body-item {
    width: 50%;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.img-descrizione {
    align-self: center;
}

.h2-descrizione {
    color: #0F4FD6;
    font-size: 30px;
}

/* START FOOTER */
footer {
    padding-top: 15px;
    border: black;
    font-size: 15px;
    line-height: 1.5;
}

.container-footer {
    flex-wrap: nowrap;
}

.footer-span {
    width: 50%;
    padding-left: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.footer-text-center {
    text-align: center;
}

.footer-copyright {
    text-align: center;
}


/* END FOOTER */