
.container-footer{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap:10px 30px;
}

.info_SX{
    padding-left:5px;
    padding-top:0px;
    padding-right:20px;
    padding-bottom:5px;
}

.info_DX{
    padding-left:20px;
    padding-top:0px;
    padding-right:5px;
    padding-bottom:5px;
}

.firme-footer{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    gap:10px 30px;
    padding-left:30px;
    padding-right:30px;
}

.logo-footer{
    float:left;
    margin:10px 50px;
    width:54px;
    height:39px;
}

.padd-5{
    padding:5px;
}

.text-firme-footer{
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.centra{
    text-align:center;
}

.container-logi-social{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap:10px 30px;
}

.logo{
    width:80px;
    height:80px;
    margin:10px 10px;
}
