.container-body{
    display:flex;
    height: fit-content;
    width: fit-content;
    flex-wrap: nowrap;
}

.float-left{
    float:left;
}

.img-homePage{
    margin:10px 10px;
    width:320px;
    height:240px;
}

.descrizione-homePage{
    padding-right:20px;
    width:fit-content;
}

.centra{
    text-align:center;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    background-color: #008CBA;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}